<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <!-- <script src="{% static 'javascript/login.js' %}"></script> -->
  <title>Login | Chat</title>
</head>

<body>
  <h1>Login</h1>
  <div class="login-form">
    <form action="login" method="post">
      {% csrf_token %}
      <input type="text" name="username" id="username" placeholder="Username" required>
      <input type="password" name="password" id="password" placeholder="Password" required>
      <input type="submit" value="Login">
    </form>
    <div>
      {% for message in messages %}
        <p class="error">{{message}}</p>
      {% endfor %}
    </div>
    <p>If you do not have a acount! <a href="/signup"> Sign up</a></p>
  </div>
</body>
<script type="text/javascript">
  let username = document.getElementById('username')
  username.focus()
</script>
</html>