*{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.header{
    height: 60px;
    width: 99%;
    box-shadow: 3px 3px 5px #dbdbdb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.username{
    position: absolute;
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.logout{
    position: fixed;
    top: 15px;
    right: 25px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    background-color: #e3e8e3;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px #caccca;
}

.logout:hover{
    background-color: #bbbdbb;
}

.container {
    flex: 1;
    display: flex;
    overflow: hidden;
    justify-content: stretch;
    margin-bottom: 10px;
    margin-top: 5px;
}

.side-bar {
    width: 300px;
    height: calc(100vh - 62px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#chat1{
    border-top: 1px solid #bbbdbb;
}

.chat-room{
    padding-left: 20px;
    height: 60px;
    border-bottom: 1px solid #bbbdbb;
}

.chat-room p{
    font-size: 20px;
    font-weight: 500;

}

.chat-room:hover{
    background-color: #bbbdbb;
}

.content {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #bbbdbb;
}

.title{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bbbdbb;

}
.title p{
    font-size: 24px;
    font-weight: 600;
}

.chat-messages{
    width: 100%;
    height: calc(100vh - 180px);
    overflow-y: scroll;
    line-height: 5px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.chat-messages div{
    margin-top: 10px;
    border-radius: 15px;
    min-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-messages a{
    box-sizing: content-box;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left a{
    color: white;
    background-color: #757373;
}

.right a{
    color: black;
    background-color: #caccca;
}

.chat-messages .left{
    justify-content: flex-start;
}

.chat-messages .right{
    justify-content: flex-end;
}

.input-message{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.input-message input{
    width: 80%;
    height: 40px;
    margin: 0 10px 40px 10px;
    border-radius: 10px;
    border-color: #bbbdbb;
    padding: 0 10px 0 10px;
}

.input-message button{
    width: 5%;
    height: 40px;
    min-width: 60px;
    margin: 0 10px 40px 10px;
    border-radius: 10px;
    background-color: #dbdbdb;
}

.input-message button:hover{
    background-color: #bbbdbb;
}



