<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Messenger | Chat</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style/home-style.css' %}" />
</head>

<body>
  <div class="header">
    <p class="username">{{user.username}}</>
      <a class="logout" href="/logout">Logout</a>
  </div>
  <div class="container">
    <div class="side-bar">
      {% for chat in chats %}
      <div class="chat-room" id="chat{{chat.id}}">
        <p id="chat-name-{{chat.id}}">{{chat.name}}</p>
      </div>
      {% endfor %}
    </div>
    <div class="content">
      <div class="title" id="title"></div>
      <div class="chat-messages" id="chat-messages">

      </div>
      <div class="input-message" id="input-message">
        <input type="text" name="message" id="inp-message" autocomplete="off">
        <button type="button" id="btn-send">Send</button>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">

  var chatSocket;

  {% for chat in chats %}
  const chatSocket{{chat.id}} = new WebSocket('ws://' + window.location.host + '/ws/chat/' + '{{chat.id}}')
  chatSocket{{chat.id}}.onmessage = function (e) {
    let data = JSON.parse(e.data)
    console.log('Data:', data)
    if (data.type == 'new_message') {
      document.getElementById("chat-name-{{chat.id}}").style.fontWeight = 600;
      if(chatSocket{{chat.id}}.url === chatSocket.url){
        let messages = document.getElementById('chat-messages')
        if(data.username === '{{user.username}}'){
          messages.insertAdjacentHTML('beforeend', '<div class="right"><a class="right-message">' + data.message + '</a></div>')
        }
        else{
          messages.insertAdjacentHTML('beforeend', '<div class="left"><a class="left-message">' + data.username + ': ' + data.message + '</a></div>')
        }
      }      
    }
    else if(data.type == 'all_messages'){
      let messages = document.getElementById('chat-messages')
      messages.replaceChildren()
      for(const message of data.messages){
        if(message.sender_name === '{{user.username}}'){
          messages.insertAdjacentHTML('beforeend', '<div class="right"><a class="right-message">' + message.message + '</a></div>')
        }
        else{
          messages.insertAdjacentHTML('beforeend', '<div class="left"><a class="left-message">' + message.sender_name + ': ' + message.message + '</a></div>')
        }
      }
    }
  }
  document.getElementById('chat{{chat.id}}').
    addEventListener('click', function () {
      document.getElementById('input-message').style.display='flex'
      chatSocket = chatSocket{{chat.id}}
      chatSocket.send(JSON.stringify({
        'type':'all_messages'
      }))
      document.getElementById('title').innerHTML = '<p>{{chat.name}}</p>'
      document.getElementById("chat-name-{{chat.id}}").style.fontWeight = 500;

    })
  {% endfor %}

  document.getElementById('btn-send').addEventListener('click', function(){
    console.log(chatSocket.url)
    let message = document.getElementById('inp-message').value
        chatSocket.send(JSON.stringify({
          'type':'new_message',
          'username':'{{user.username}}',
          'message': message
        }))
    document.getElementById('inp-message').value = ""
  })

  document.getElementById('inp-message').addEventListener('keypress', function(event){
    if(event.key == 'Enter'){
      console.log(chatSocket.url)
      let message = document.getElementById('inp-message').value
          chatSocket.send(JSON.stringify({
            'type':'new_message',
            'username':'{{user.username}}',
            'message': message
          }))
      document.getElementById('inp-message').value = ""
    }
  })
</script>

</html>